Repository Magenic/JMAQS, changes with the labels that .github/labeler.yml gives for each.
All labels: framework, base, appium, selenium, webservices, utilities, database, devops, JDK11, JDK8, cucumber

.github/labeler.yml:

framework:
  - ./*

base:
  - jmaqs-base/*
  - jmaqs-base/**/*

appium:
  - jmaqs-appium/*
  - jmaqs-appium/**/*

selenium:
  - jmaqs-selenium/*
  - jmaqs-selenium/**/*

webservices:
  - jmaqs-webservices-jdk8/*
  - jmaqs-webservices-jdk8/**/*
  - jmaqs-webservices-jdk11/*
  - jmaqs-webservices-jdk11/**/*

utilities:
  - jmaqs-utilities/*
  - jmaqs-utilities/**/*

database:
  - jmaqs-database/*
  - jmaqs-database/**/*

devops:
  - .github/*
  - .github/**/*

JDK11:
  - jmaqs-webservices-jdk11/*
  - jmaqs-webservices-jdk11/**/*

JDK8:
  - jmaqs-webservices-jdk8/*
  - jmaqs-webservices-jdk8/**/*

cucumber:
  - jmaqs-cucumber/*
  - jmaqs-cucumber/**/*

-Changed error outputs from %s to %d for integers
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/WebServiceDriver.java
Labels: webservices, JDK11

-Added method to WebServiceConfig to get the Proxy Port from the config instead of hard-coding to 8080 -Had HttpClientFactory use the WebServiceConfig.getProxyPort() method
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/HttpClientFactory.java
  jmaqs-webservices-jdk8/src/main/java/com/magenic/jmaqs/webservices/jdk8/WebServiceConfig.java
Labels: webservices, JDK11, JDK8

Shifted internal modules into dependency management
  jmaqs-appium/pom.xml
  jmaqs-base/pom.xml
  jmaqs-cucumber/pom.xml
  jmaqs-database/pom.xml
  jmaqs-jacoco-reporting/pom.xml
  jmaqs-selenium/pom.xml
  jmaqs-utilities/pom.xml
  jmaqs-webservices-jdk11/pom.xml
  jmaqs-webservices-jdk8/pom.xml
  pom.xml
Labels: framework, base, appium, selenium, webservices, utilities, database, JDK11, JDK8, cucumber

-Reverted back to using Spring framework for expected status methods and RequestMethod enum
  jmaqs-webservices-jdk11/pom.xml
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/RequestType.java
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/WebServiceDriver.java
  jmaqs-webservices-jdk11/src/test/java/com/magenic/jmaqs/webservices/jdk11/WebServiceDriverGetUnitTest.java
Labels: webservices, JDK11

Started working on high dependency methods.
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/MediaType.java
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/WebServiceDriver.java
  jmaqs-webservices-jdk11/src/test/java/com/magenic/jmaqs/webservices/jdk11/WebServiceDriverUnitTest.java
Labels: webservices, JDK11

Copied the config class from jdk 8 and added it to jdk 11 Copied the config unit test class from jdk 8 and added it to jdk 11
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/WebServiceConfig.java
  jmaqs-webservices-jdk11/src/test/java/com/magenic/jmaqs/webservices/jdk11/WebServiceConfigUnitTest.java
Labels: webservices, JDK11

Pulled WebServiceConfig
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/WebServiceDriver.java
Labels: webservices, JDK11

added HttpClientFactory
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/HttpClientFactory.java
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/WebServiceDriver.java
Labels: webservices, JDK11

Added get methods to WebServiceDriver
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/WebServiceDriver.java
Labels: webservices, JDK11

Wrapped up high dependency methods.
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/WebServiceDriver.java
Labels: webservices, JDK11

Wrapped up high dependency methods.
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/HttpClientFactory.java
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/HttpRequestFactory.java
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/MediaType.java
  jmaqs-webservices-jdk11/src/test/java/com/magenic/jmaqs/webservices/jdk11/WebServiceDriverUnitTest.java
Labels: webservices, JDK11

Started working on Utilities
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/WebServiceUtilities.java
Labels: webservices, JDK11

updates and added comments
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/WebServiceConfig.java
Labels: webservices, JDK11

Added Web Service Utilities unit test
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/WebServiceUtilities.java
  jmaqs-webservices-jdk11/src/test/java/com/magenic/jmaqs/webservices/jdk11/WebServiceUtilitiesUnitTest.java
  jmaqs-webservices-jdk11/src/test/java/com/magenic/jmaqs/webservices/jdk11/models/Product.java
Labels: webservices, JDK11

added BaseWebServiceTest, WebServiceDriverManager, and WebServiceTestObject to get base functionality working
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/BaseWebServiceTest.java
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/WebServiceDriverManager.java
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/WebServiceTestObject.java
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/WebServiceUtilities.java
  jmaqs-webservices-jdk11/src/test/java/com/magenic/jmaqs/webservices/jdk11/WebServiceUtilitiesUnitTest.java
Labels: webservices, JDK11

Got webservice driver get methods to work.
  jmaqs-webservices-jdk11/pom.xml
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/BaseWebServiceTest.java
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/HttpClientFactory.java
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/HttpRequestFactory.java
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/WebServiceDriver.java
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/WebServiceDriverManager.java
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/WebServiceTestObject.java
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/WebServiceUtilities.java
  jmaqs-webservices-jdk11/src/test/java/com/magenic/jmaqs/webservices/jdk11/WebServiceDriverGetUnitTest.java
  jmaqs-webservices-jdk11/src/test/java/com/magenic/jmaqs/webservices/jdk11/models/Product.java
Labels: webservices, JDK11

got basic HttpClientFactory functionality working
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/HttpClientFactory.java
Labels: webservices, JDK11

-Added Request Type enum class instead of importing one -Modified WebServiceDriver to use the new Request Type enum
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/RequestType.java
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/WebServiceDriver.java
Labels: webservices, JDK11

-Reverted back to using Spring framework for expected status methods and RequestMethod enum
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/RequestType.java
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/WebServiceDriver.java
  jmaqs-webservices-jdk11/src/test/java/com/magenic/jmaqs/webservices/jdk11/WebServiceDriverGetUnitTest.java
Labels: webservices, JDK11

-Changed error outputs from %s to %d for integers
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/WebServiceDriver.java
Labels: webservices, JDK11

Got rid of duplicated classes and called JDK8 instead
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/BaseWebServiceTest.java
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/HttpClientFactory.java
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/HttpRequestFactory.java
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/MediaType.java
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/WebServiceConfig.java
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/WebServiceDriver.java
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/WebServiceUtilities.java
  jmaqs-webservices-jdk11/src/test/java/com/magenic/jmaqs/webservices/jdk11/WebServiceConfigUnitTest.java
  jmaqs-webservices-jdk11/src/test/java/com/magenic/jmaqs/webservices/jdk11/WebServiceDriverGetUnitTest.java
  jmaqs-webservices-jdk11/src/test/java/com/magenic/jmaqs/webservices/jdk11/WebServiceDriverUnitTest.java
  jmaqs-webservices-jdk11/src/test/java/com/magenic/jmaqs/webservices/jdk11/models/Product.java
Labels: webservices, JDK11

unit test updates
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/BaseWebServiceTest.java
  jmaqs-webservices-jdk11/src/test/java/com/magenic/jmaqs/webservices/jdk11/WebServiceDriverGetUnitTest.java
Labels: webservices, JDK11

-Added method to WebServiceConfig to get the Proxy Port from the config instead of hard-coding to 8080 -Had HttpClientFactory use the WebServiceConfig.getProxyPort() method
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/HttpClientFactory.java
Labels: webservices, JDK11

checkstyle updates
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/HttpClientFactory.java
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/HttpRequestFactory.java
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/WebServiceDriver.java
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/WebServiceUtilities.java
  jmaqs-webservices-jdk11/src/test/java/com/magenic/jmaqs/webservices/jdk11/WebServiceDriverGetUnitTest.java
Labels: webservices, JDK11

-Removed HttpRequest Factory -Refactored Web Service Driver to use Http Request Builder property instead of Http Request -Added get methods that deserialize response -Added Build Http Request methods
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/HttpClientFactory.java
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/HttpRequestFactory.java
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/WebServiceDriver.java
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/WebServiceUtilities.java
  jmaqs-webservices-jdk11/src/test/java/com/magenic/jmaqs/webservices/jdk11/WebServiceDriverGetUnitTest.java
  jmaqs-webservices-jdk11/src/test/java/com/magenic/jmaqs/webservices/jdk11/WebServiceDriverUnitTest.java
Labels: webservices, JDK11

Added more tests to flesh out unit testing
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/HttpRequestFactory.java
  jmaqs-webservices-jdk11/src/test/java/com/magenic/jmaqs/webservices/jdk11/WebServiceDriverGetUnitTest.java
Labels: webservices, JDK11

Updated StatusCode Type used. Changed some error exceptions.
  jmaqs-webservices-jdk11/pom.xml
Labels: webservices, JDK11

Checkstyle updates
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/HttpClientFactory.java
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/WebServiceDriver.java
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/WebServiceUtilities.java
  jmaqs-webservices-jdk11/src/test/java/com/magenic/jmaqs/webservices/jdk11/WebServiceDriverGetUnitTest.java
Labels: webservices, JDK11

Updated StatusCode Type used. Changed some error exceptions.
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/WebServiceDriver.java
Labels: webservices, JDK11

Deleted unused classes.
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/WebServiceDriverManager.java
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/WebServiceTestObject.java
Labels: webservices, JDK11

updated Product class. updates for checkstyle scan
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/WebServiceDriver.java
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/WebServiceUtilities.java
  jmaqs-webservices-jdk11/src/test/java/com/magenic/jmaqs/webservices/jdk11/models/Product.java
Labels: webservices, JDK11

changed the deserialize xml method back, the response body is in JSON.
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/WebServiceUtilities.java
Labels: webservices, JDK11

changed deserializeXml to get the body of the response. simplified both deserialize methods.
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/WebServiceUtilities.java
Labels: webservices, JDK11

Product.java updates
  jmaqs-webservices-jdk11/src/test/java/com/magenic/jmaqs/webservices/jdk11/models/Product.java
Labels: webservices, JDK11

Some HttpRequestFactory updates.
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/HttpRequestFactory.java
Labels: webservices, JDK11

Completed HttpRequestFactory
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/HttpRequestFactory.java
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/WebServiceDriver.java
  jmaqs-webservices-jdk11/src/test/java/com/magenic/jmaqs/webservices/jdk11/WebServiceDriverGetUnitTest.java
Labels: webservices, JDK11

-Checkstyle fixes
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/HttpClientFactory.java
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/WebServiceDriver.java
Labels: webservices, JDK11
