Repository Magenic/JMAQS, changes with the labels that .github/labeler.yml gives for each.
All labels: framework, base, appium, selenium, webservices, utilities, database, devops, JDK11, JDK8, cucumber

property path
  .github/workflows/pullrequest.yml
Labels: devops

property path separators
  .github/workflows/pullrequest.yml
Labels: devops

Linux Agent test run
  .github/workflows/pullrequest.yml
Labels: devops

Test without sandbox switch
  jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/WebDriverFactory.java
Labels: selenium

removed core count
  .github/workflows/pullrequest.yml
Labels: devops

reduced thread count
  pom.xml
Labels: framework

disabled /dev/shm
  jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/WebDriverFactory.java
Labels: selenium

Default arguments
  jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/WebDriverFactory.java
Labels: selenium

Headless
  jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/WebDriverFactory.java
  jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/WebDriverFactoryUnitTest.java
Labels: selenium

Consolidated sonar and unit tests
  .github/workflows/pullrequest.yml
Labels: devops

Restored some original values
  .github/workflows/pullrequest.yml
  jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/WebDriverFactory.java
  pom.xml
Labels: framework, selenium, devops

Removed sonarcloud job due to consolidation
  .github/workflows/pullrequest.yml
Labels: devops

JMAQS #406 (0h 4m) - Added remote debugging port for linux build agents.
  .github/workflows/pullrequest.yml
  .github/workflows/snapshot.yml
  jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/WebDriverFactory.java
Labels: selenium, devops

JMAQS #406 (0h 4m) - Updated driver version to 85
  jmaqs-cucumber/pom.xml
  jmaqs-selenium/pom.xml
Labels: selenium, cucumber

JMAQS #406 (0h 4m) - Added Logs upload as build artifact
  .github/workflows/pullrequest.yml
Labels: devops

JMAQS #406 (0h 4m) - Added Logs upload as build artifact
  .github/workflows/pullrequest.yml
Labels: devops

JMAQS #406 (0h 4m) - added another abbreviation for linux
  jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/constants/OperatingSystem.java
Labels: selenium

JMAQS #406 (0h 4m) - added linux related switches
  jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/WebDriverFactory.java
Labels: selenium

JMAQS #406 (0h 4m) - added linux related switches
  .github/workflows/pullrequest.yml
  jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/WebDriverFactory.java
Labels: selenium, devops

JMAQS #406 (0h 4m) - added linux related switches
  .github/workflows/pullrequest.yml
Labels: devops

JMAQS #406 (2h 16m) - testing user data dir
  jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/WebDriverFactoryUnitTest.java
Labels: selenium

JMAQS #406 (2h 16m) - testing user data dir
  .github/workflows/pullrequest.yml
Labels: devops

JMAQS #406 (3h 3m) - use build agent chromedriver?
  .github/workflows/pullrequest.yml
  jmaqs-selenium/config.xml
  jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/WebDriverFactory.java
  jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/WebDriverFactoryUnitTest.java
Labels: selenium, devops

JMAQS #406 (3h 3m) - Reset config.xml
  jmaqs-selenium/config.xml
  jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/WebDriverFactory.java
Labels: selenium

JMAQS #406 (4h 15m) - whoami command
  .github/workflows/pullrequest.yml
Labels: devops

JMAQS #406 (4h 15m) - whoami command
  .github/workflows/pullrequest.yml
Labels: devops

JMAQS #406 (4h 15m) - testing xvfb fix
  .github/workflows/pullrequest.yml
Labels: devops

JMAQS #406 (4h 15m) - testing xvfb fix
  .github/workflows/pullrequest.yml
Labels: devops

-Removed HttpRequest Factory -Refactored Web Service Driver to use Http Request Builder property instead of Http Request -Added get methods that deserialize response -Added Build Http Request methods
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/HttpClientFactory.java
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/HttpRequestFactory.java
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/WebServiceDriver.java
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/WebServiceUtilities.java
  jmaqs-webservices-jdk11/src/test/java/com/magenic/jmaqs/webservices/jdk11/WebServiceDriverGetUnitTest.java
  jmaqs-webservices-jdk11/src/test/java/com/magenic/jmaqs/webservices/jdk11/WebServiceDriverUnitTest.java
Labels: webservices, JDK11

Added profiles to pom for ease of release and snapshot builds
  pom.xml
Labels: framework

Updated snapshot.yml and pullrequest.yml with new profiles.
  .github/workflows/pullrequest.yml
  .github/workflows/snapshot.yml
Labels: devops

Initial add of release pipeline
  .github/workflows/release.yml
Labels: devops

Using XVFB action instead.
  .github/workflows/pullrequest.yml
Labels: devops

Renaming snapshot jobs
  .github/workflows/snapshot.yml
Labels: devops

trimming extras in release.yml
  .github/workflows/release.yml
Labels: devops

Update release.yml
  .github/workflows/release.yml
Labels: devops

sonar properties
  .github/workflows/pullrequest.yml
  .github/workflows/snapshot.yml
Labels: devops

Added to include the non empty serialization into class.
  jmaqs-webservices-jdk8/src/main/java/com/magenic/jmaqs/webservices/jdk8/WebServiceUtilities.java
  jmaqs-webservices-jdk8/src/test/java/com/magenic/jmaqs/webservices/jdk8/models/Product.java
Labels: webservices, JDK8

-Added Request Type enum class instead of importing one -Modified WebServiceDriver to use the new Request Type enum
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/RequestType.java
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/WebServiceDriver.java
Labels: webservices, JDK11

-Checkstyle fixes
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/HttpClientFactory.java
  jmaqs-webservices-jdk11/src/main/java/com/magenic/jmaqs/webservices/jdk11/WebServiceDriver.java
Labels: webservices, JDK11

.github/labeler.yml:

framework:
  - ./*

base:
  - jmaqs-base/*
  - jmaqs-base/**/*

appium:
  - jmaqs-appium/*
  - jmaqs-appium/**/*

selenium:
  - jmaqs-selenium/*
  - jmaqs-selenium/**/*

webservices:
  - jmaqs-webservices-jdk8/*
  - jmaqs-webservices-jdk8/**/*
  - jmaqs-webservices-jdk11/*
  - jmaqs-webservices-jdk11/**/*

utilities:
  - jmaqs-utilities/*
  - jmaqs-utilities/**/*

database:
  - jmaqs-database/*
  - jmaqs-database/**/*

devops:
  - .github/*
  - .github/**/*

JDK11:
  - jmaqs-webservices-jdk11/*
  - jmaqs-webservices-jdk11/**/*

JDK8:
  - jmaqs-webservices-jdk8/*
  - jmaqs-webservices-jdk8/**/*

cucumber:
  - jmaqs-cucumber/*
  - jmaqs-cucumber/**/*
