Repository Magenic/JMAQS, pull requests merged in 2019-10, with the labels that each got.

#25 Add WebDriverFactory
  Framework/jmaqs-selenium/pom.xml
  Framework/jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/SeleniumConfig.java
  Framework/jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/WebDriverFactory.java
  Framework/jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/constants/WebDriverFile.java
  Framework/jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/SeleniumConfigTest.java
  Framework/jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/WebDriverFactoryTest.java
Labels: selenium

#24 Feature/10339 Deprecate old methods and some sonar clean up
  Framework/jmaqs-appium/src/main/java/com/magenic/jmaqs/appium/AppiumConfig.java
Labels: appium

#30 Feature/break selenium wait into static service robert w
  Archetypes/Appium/src/main/java/com/company/automation/pagemodels/BasePageModel.java
  Archetypes/Appium/src/main/java/com/company/automation/pagemodels/LoginPageModel.java
  Archetypes/Appium/src/main/java/com/company/automation/pagemodels/MainPageModel.java
  Archetypes/Appium/src/test/java/com/company/automation/test/AppiumTest.java
  Archetypes/Selenium/pom.xml
  Archetypes/Selenium/src/main/java/com/company/automation/pagemodels/BasePageModel.java
  Archetypes/Selenium/src/main/java/com/company/automation/pagemodels/HomePageModel.java
  Archetypes/Selenium/src/main/java/com/company/automation/pagemodels/LoginPageModel.java
  Archetypes/Selenium/src/test/java/com/company/automation/test/LoginTest.java
  Archetypes/WebService/src/test/java/com/company/automation/test/WebServiceTest.java
  Framework/jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/BaseSeleniumTest.java
  Framework/jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/SeleniumUtilities.java
  Framework/jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/SeleniumWait.java
  Framework/jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/UIFind.java
  Framework/jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/UIWait.java
  Framework/jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/WebElementFind.java
  Framework/jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/factories/FluentWaitFactory.java
  Framework/jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/factories/UIFindFactory.java
  Framework/jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/factories/UIWaitFactory.java
  Framework/jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/FluentWaitFactoryUnitTest.java
  Framework/jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/UIFindFactoryUnitTest.java
  Framework/jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/UIWaitFactoryUnitTest.java
  Framework/jmaqs-utilities/src/main/java/com/magenic/jmaqs/utilities/helper/GenericWait.java
  Framework/jmaqs-utilities/src/main/java/com/magenic/jmaqs/utilities/helper/functionalinterfaces/Action.java
  Framework/jmaqs-utilities/src/main/java/com/magenic/jmaqs/utilities/logging/LoggingConfig.java
Labels: feature, selenium

#29 Selenium Config final cleanup
  Framework/jmaqs-selenium/config.xml
  Framework/jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/SeleniumConfig.java
  Framework/jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/SeleniumUtilities.java
  Framework/jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/SeleniumConfigTest.java
Labels: feature, selenium

#72 JMAQS-71 Class level test annotation causes build to fail
  .gitignore
  Framework/jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/FluentWaitFactoryUnitTest.java
Labels: bug, selenium

#59 JMAQS-42 selenium driver manager
  Framework/jmaqs-base/src/main/java/com/magenic/jmaqs/base/DriverManager.java
  Framework/jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/SeleniumDriverManager.java
  Framework/jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/SeleniumDriverManagerTest.java
Labels: feature, selenium

#74 Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature-parity.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: documentation

#43 Appium Driver Factory
  Framework/jmaqs-appium/config.xml
  Framework/jmaqs-appium/src/main/java/com/magenic/jmaqs/appium/AppiumConfig.java
  Framework/jmaqs-appium/src/main/java/com/magenic/jmaqs/appium/AppiumDriverFactory.java
  Framework/jmaqs-appium/src/test/java/com/magenic/jmaqs/appium/AppiumConfigUnitTest.java
  Framework/jmaqs-appium/src/test/java/com/magenic/jmaqs/appium/AppiumDriverFactoryTest.java
Labels: appium, feature

#68 JMAQS 67 build and quality badges for readme
  README.md
Labels: documentation

#70 JMAQS-69 - Corrects DriverHint Path Bug
  Framework/jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/WebDriverFactory.java
  Framework/jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/WebDriverFactoryTest.java
Labels: bug, selenium

#76 Mobile Driver Manager
  Framework/jmaqs-appium/src/main/java/com/magenic/jmaqs/appium/MobileDriverManager.java
  Framework/jmaqs-appium/src/test/java/com/magenic/jmaqs/appium/MobileDriverManagerUnitTest.java
Labels: appium, feature

#84 Appium Utilities
  Framework/jmaqs-appium/src/main/java/com/magenic/jmaqs/appium/AppiumUtilities.java
  Framework/jmaqs-appium/src/test/java/com/magenic/jmaqs/appium/AppiumUtilitiesUnitTest.java
  Framework/jmaqs-base/src/main/java/com/magenic/jmaqs/base/BaseTestObject.java
Labels: appium, feature

#15 ElementHandler parity
  Framework/jmaqs-base/src/main/java/com/magenic/jmaqs/base/BaseTest.java
  Framework/jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/ElementHandler.java
  Framework/jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/ElementHandlerUnitTest.java
  docs/JMAQS_1/ElementHandler.md
Labels: feature, selenium

#87 ActionBuilder updates to use UIWait instead of deprecated SeleniumWait
  Framework/jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/ActionBuilder.java
  Framework/jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/ActionBuilderUnitTest.java
  docs/JMAQS_1/ActionBuilder.md
Labels: selenium

#88 JMAQS #49 - WebServiceConfig Parity
  Framework/jmaqs-webservices/config.xml
  Framework/jmaqs-webservices/src/main/java/com/magenic/jmaqs/webservices/WebServiceConfig.java
  Framework/jmaqs-webservices/src/test/java/com/magenic/jmaqs/webservices/WebServiceConfigTest.java
Labels: feature, webservices

#79 JMAQS #53 - Media Type
  Framework/jmaqs-webservices/src/main/java/com/magenic/jmaqs/webservices/MediaType.java
  Framework/jmaqs-webservices/src/test/java/com/magenic/jmaqs/webservices/MediaTypeTest.java
Labels: feature, webservices

#89 JMAQS 65 and 47 - BaseSeleniumTest and SeleniumTestObject
  Framework/jmaqs-appium/src/main/java/com/magenic/jmaqs/appium/BaseAppiumTest.java
  Framework/jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/BaseSeleniumTest.java
  Framework/jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/SeleniumTestObject.java
  Framework/jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/BaseSeleniumTestTest.java
  Framework/jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/FluentWaitFactoryUnitTest.java
  Framework/jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/SeleniumTestObjectTest.java
  Framework/jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/SeleniumWaitTest.java
  Framework/jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/UIFindFactoryUnitTest.java
  Framework/jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/UIWaitFactoryUnitTest.java
Labels: feature, selenium
