Repository Magenic/JMAQS, pull requests merged in 2019-11, with the labels that each got.

#111 JMAQS - 105 - Appium CleanUp
  Framework/jmaqs-appium/src/main/java/com/magenic/jmaqs/appium/AppiumConfig.java
  Framework/jmaqs-appium/src/main/java/com/magenic/jmaqs/appium/AppiumDriverFactory.java
  Framework/jmaqs-appium/src/main/java/com/magenic/jmaqs/appium/AppiumTestObject.java
  Framework/jmaqs-appium/src/main/java/com/magenic/jmaqs/appium/AppiumUtilities.java
  Framework/jmaqs-appium/src/main/java/com/magenic/jmaqs/appium/AppiumWait.java
  Framework/jmaqs-appium/src/main/java/com/magenic/jmaqs/appium/BaseAppiumTest.java
  Framework/jmaqs-appium/src/main/java/com/magenic/jmaqs/appium/MobileDriverManager.java
  Framework/jmaqs-appium/src/main/java/com/magenic/jmaqs/appium/constants/PlatformType.java
  Framework/jmaqs-appium/src/test/java/com/magenic/jmaqs/appium/AppiumConfigUnitTest.java
  Framework/jmaqs-appium/src/test/java/com/magenic/jmaqs/appium/AppiumDriverFactoryUnitTest.java
  Framework/jmaqs-appium/src/test/java/com/magenic/jmaqs/appium/AppiumTestObjectUnitTest.java
  Framework/jmaqs-appium/src/test/java/com/magenic/jmaqs/appium/AppiumUtilitiesUnitTest.java
  Framework/jmaqs-appium/src/test/java/com/magenic/jmaqs/appium/BaseAppiumTestUnitTest.java
  Framework/jmaqs-appium/src/test/java/com/magenic/jmaqs/appium/MobileDriverManagerUnitTest.java
Labels: appium

#107 JMAQS 106 - Selenium CleanUp
  Framework/jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/ActionBuilder.java
  Framework/jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/BaseSeleniumTest.java
  Framework/jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/ElementHandler.java
  Framework/jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/EventHandler.java
  Framework/jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/SeleniumConfig.java
  Framework/jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/SeleniumDriverManager.java
  Framework/jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/SeleniumTestObject.java
  Framework/jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/SeleniumUtilities.java
  Framework/jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/SeleniumWait.java
  Framework/jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/UIFind.java
  Framework/jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/UIWait.java
  Framework/jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/WebDriverFactory.java
  Framework/jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/WebElementFind.java
  Framework/jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/constants/BrowserType.java
  Framework/jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/constants/RemoteBrowserType.java
  Framework/jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/factories/FluentWaitFactory.java
  Framework/jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/factories/UIFindFactory.java
  Framework/jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/factories/UIWaitFactory.java
  Framework/jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/ActionBuilderUnitTest.java
  Framework/jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/BaseSeleniumTestUnitTest.java
  Framework/jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/ElementHandlerUnitTest.java
  Framework/jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/EventHandlerUnitTest.java
  Framework/jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/FluentWaitFactoryUnitTest.java
  Framework/jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/SeleniumConfigUnitTest.java
  Framework/jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/SeleniumDriverManagerUnitTest.java
  Framework/jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/SeleniumTestObjectUnitTest.java
  Framework/jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/SeleniumUtilitiesUnitTest.java
  Framework/jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/SeleniumWaitTest.java
  Framework/jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/UIFindFactoryUnitTest.java
  Framework/jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/UIWaitFactoryUnitTest.java
  Framework/jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/WebDriverFactoryUnitTest.java
  Framework/jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/unittestpagemodel/IFramePageModel.java
  Framework/jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/unittestpagemodel/PageElementsPageModel.java
Labels: selenium

#113 JMAQS #81 - Create SnapShot pipeline
  Framework/pom.xml
  Framework/settings.xml
Labels: devops

#110 Created BaseSeleniumTest documentation
  docs/JMAQS_1/BaseSeleniumTest.md
Labels: documentation

#117 Update HttpClientWrapper to WebServiceDriver
  Framework/jmaqs-webservices/src/main/java/com/magenic/jmaqs/webservices/BaseWebServiceTest.java
  Framework/jmaqs-webservices/src/main/java/com/magenic/jmaqs/webservices/WebServiceDriver.java
  Framework/jmaqs-webservices/src/main/java/com/magenic/jmaqs/webservices/WebServiceTestObject.java
  Framework/jmaqs-webservices/src/test/java/com/magenic/jmaqs/webservices/WebServiceDriverUnitTest.java
  Framework/jmaqs-webservices/src/test/java/com/magenic/jmaqs/webservices/WebServiceUnitTest.java
  Framework/jmaqs-webservices/src/test/java/com/magenic/jmaqs/webservices/WebServiceWithWrapperTest.java
Labels: webservices

#137 Web Service Driver Manager
  Framework/jmaqs-webservices/src/main/java/com/magenic/jmaqs/webservices/WebServiceDriverManager.java
  Framework/jmaqs-webservices/src/test/java/com/magenic/jmaqs/webservices/WebServiceDriverManagerUnitTest.java
  Framework/jmaqs-webservices/src/test/java/com/magenic/jmaqs/webservices/WebServiceDriverUnitTest.java
Labels: JDK8, feature, webservices

#112 JMAQS #90 - Add Dependabot
  .dependabot/config.yml
Labels: dependencies, devops, framework

#154 Feature/jmaqs 134 base web service test
  Framework/jmaqs-webservices/src/main/java/com/magenic/jmaqs/webservices/BaseWebServiceTest.java
  Framework/jmaqs-webservices/src/test/java/com/magenic/jmaqs/webservices/BaseWebServiceTestUnitTest.java
Labels: JDK8, feature, webservices

#138 JMAQS #104 - Database Support - Initial Module Creation
  Framework/jmaqs-database/pom.xml
  Framework/jmaqs-database/src/test/resources/MyDatabase.sqlite
  Framework/pom.xml
Labels: database, feature

#155 WebServiceTestObject
  Framework/jmaqs-webservices/src/main/java/com/magenic/jmaqs/webservices/WebServiceTestObject.java
  Framework/jmaqs-webservices/src/test/java/com/magenic/jmaqs/webservices/WebServiceTestObjectUnitTest.java
Labels: JDK 8, feature, webservices

#153 POM changes via linter
  Framework/pom.xml
Labels: dependencies, framework

#157 JMAQS #156 - Database Config
  Framework/jmaqs-database/config.xml
  Framework/jmaqs-database/pom.xml
  Framework/jmaqs-database/src/main/java/com/magenic/jmaqs/database/DatabaseConfig.java
  Framework/jmaqs-database/src/test/java/com/magenic/jmaqs/database/DatabaseConfigUnitTest.java
Labels: database, feature

#158 Feature/robertw webservices utilities
  Framework/jmaqs-webservices/pom.xml
  Framework/jmaqs-webservices/src/main/java/com/magenic/jmaqs/webservices/WebServiceTestObject.java
  Framework/jmaqs-webservices/src/main/java/com/magenic/jmaqs/webservices/WebServiceUtilities.java
  Framework/jmaqs-webservices/src/main/java/com/magenic/jmaqs/webservices/WebServiceUtils.java
  Framework/jmaqs-webservices/src/test/java/com/magenic/jmaqs/webservices/WebServiceDriverUnitTest.java
  Framework/jmaqs-webservices/src/test/java/com/magenic/jmaqs/webservices/WebServiceUnitTest.java
  Framework/jmaqs-webservices/src/test/java/com/magenic/jmaqs/webservices/WebServiceUtilitiesUnitTest.java
  Framework/jmaqs-webservices/src/test/java/com/magenic/jmaqs/webservices/models/Product.java
Labels: feature, webservices
