Repository Magenic/JMAQS, pull requests merged in 2020-02, with the labels that each got.

#203 Bug/jacoco xml reporting - draft test
  Framework/pom.xml
Labels: bug, devops

#215 Feature/jacoco reporting module
  Framework/jmaqs-database/pom.xml
  Framework/jmaqs-jacoco-reporting/pom.xml
  Framework/pom.xml
Labels: devops, framework

#218 Additional BaseTest Unit Tests
  Framework/jmaqs-base/src/main/java/com/magenic/jmaqs/base/BaseTest.java
  Framework/jmaqs-base/src/main/java/com/magenic/jmaqs/base/TestObject.java
  Framework/jmaqs-base/src/test/java/com/magenic/jmaqs/base/BaseGenericTestUnitTest.java
  Framework/jmaqs-base/src/test/java/com/magenic/jmaqs/base/BaseTestObjectUnitTest.java
  Framework/jmaqs-base/src/test/java/com/magenic/jmaqs/base/BaseTestUnitTest.java
  Framework/jmaqs-base/src/test/java/com/magenic/jmaqs/base/ConcurrentManagerHashMapUnitTest.java
  Framework/jmaqs-base/src/test/java/com/magenic/jmaqs/base/DriverManagerTest.java
  Framework/jmaqs-base/src/test/java/com/magenic/jmaqs/base/ManagerDictionaryUnitTest.java
Labels: base, enhancement

#220 Autoclosable Fixes
  Framework/jmaqs-base/src/main/java/com/magenic/jmaqs/base/BaseTest.java
  Framework/jmaqs-selenium/pom.xml
  Framework/jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/SeleniumDriverManager.java
Labels: base, bug

#223 Eventhandler tests with Autoclosable fix
  Framework/jmaqs-base/src/test/java/com/magenic/jmaqs/base/DriverManagerUnitTest.java
  Framework/jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/SeleniumDriverManager.java
  Framework/jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/EventHandlerUnitTest.java
  Framework/jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/SeleniumDriverManagerUnitTest.java
Labels: selenium, unit tests

#224 UI Find unit test and code coverage
  Framework/jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/UIFind.java
  Framework/jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/UIFindUnitTest.java
Labels: selenium, unit tests

#225 WebDriver factory updates
  Framework/jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/WebDriverFactory.java
  Framework/jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/WebDriverFactoryUnitTest.java
Labels: selenium, unit tests

#240 Clean up dependencies for modules
  Framework/jmaqs-appium/pom.xml
  Framework/jmaqs-base/pom.xml
  Framework/jmaqs-database/pom.xml
  Framework/jmaqs-selenium/pom.xml
  Framework/jmaqs-utilities/pom.xml
  Framework/jmaqs-utilities/src/main/java/com/magenic/jmaqs/utilities/logging/HtmlFileLogger.java
  Framework/jmaqs-utilities/src/test/java/com/magenic/jmaqs/utilities/FileLoggerUnitTest.java
  Framework/jmaqs-utilities/src/test/java/com/magenic/jmaqs/utilities/HtmlFileLoggerUnitTest.java
  Framework/jmaqs-webservices-jdk8/pom.xml
  Framework/pom.xml
Labels: dependencies, enhancement, framework

#241 UIWait unit tests
  Framework/jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/UIWait.java
  Framework/jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/UIWaitUnitTest.java
Labels: selenium, unit tests

#258 Added labeling action
  .github/labeler.yml
  .github/workflows/label.yml
Labels: devops

#266 Quick Sonarcloud fixes
  jmaqs-database/src/main/java/com/magenic/jmaqs/database/BaseDatabaseTest.java
  jmaqs-utilities/src/main/java/com/magenic/jmaqs/utilities/helper/Config.java
  jmaqs-utilities/src/main/java/com/magenic/jmaqs/utilities/helper/ListProcessor.java
  jmaqs-utilities/src/main/java/com/magenic/jmaqs/utilities/helper/TestCategories.java
  jmaqs-utilities/src/main/java/com/magenic/jmaqs/utilities/logging/HtmlFileLogger.java
  jmaqs-utilities/src/main/java/com/magenic/jmaqs/utilities/logging/LoggingConfig.java
  jmaqs-utilities/src/main/java/com/magenic/jmaqs/utilities/performance/PerfTimerCollection.java
  jmaqs-utilities/src/test/java/com/magenic/jmaqs/utilities/ConfigUnitTest.java
  jmaqs-webservices-jdk8/src/main/java/com/magenic/jmaqs/webservices/jdk8/WebServiceUtilities.java
Labels: database, utilities, webservices

#267 Removed null pointer probability
  jmaqs-appium/src/main/java/com/magenic/jmaqs/appium/AppiumDriverFactory.java
  jmaqs-base/src/main/java/com/magenic/jmaqs/base/BaseTest.java
  jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/SeleniumDriverManager.java
Labels: appium, base, selenium

#269 Version number updated and plugins added.
  jmaqs-appium/pom.xml
  jmaqs-base/pom.xml
  jmaqs-database/pom.xml
  jmaqs-jacoco-reporting/pom.xml
  jmaqs-selenium/pom.xml
  jmaqs-utilities/pom.xml
  jmaqs-webservices-jdk8/pom.xml
  pom.xml
Labels: appium, base, database, selenium, utilities, webservices
