Repository Magenic/JMAQS, pull requests merged in 2020-05, with the labels that each got.

#290 JMAQS #45 - BaseSeleniumPageModel
  jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/BaseSeleniumPageModel.java
  jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/BaseSeleniumPageModelUnitTest.java
  jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/FluentWaitFactoryUnitTest.java
  jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/UIFindFactoryUnitTest.java
  jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/UIWaitFactoryUnitTest.java
  jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/WebDriverFactoryUnitTest.java
  jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/unittestpagemodel/PageElementsPageModel.java
Labels: selenium

#296 Address style issues
  .gitignore
  jmaqs-appium/src/main/java/com/magenic/jmaqs/appium/MobileDriverManager.java
  jmaqs-appium/src/test/java/com/magenic/jmaqs/appium/AppiumDriverFactoryUnitTest.java
  jmaqs-appium/src/test/java/com/magenic/jmaqs/appium/AppiumTestObjectUnitTest.java
  jmaqs-appium/src/test/java/com/magenic/jmaqs/appium/AppiumUtilitiesUnitTest.java
  jmaqs-appium/src/test/java/com/magenic/jmaqs/appium/MobileDriverManagerUnitTest.java
  jmaqs-base/src/main/java/com/magenic/jmaqs/base/BaseExtendableTest.java
  jmaqs-base/src/main/java/com/magenic/jmaqs/base/BaseTestObject.java
  jmaqs-base/src/main/java/com/magenic/jmaqs/base/ConcurrentManagerHashMap.java
  jmaqs-base/src/main/java/com/magenic/jmaqs/base/DriverManager.java
  jmaqs-base/src/main/java/com/magenic/jmaqs/base/ManagerDictionary.java
  jmaqs-base/src/test/java/com/magenic/jmaqs/base/BaseTestObjectUnitTest.java
  jmaqs-base/src/test/java/com/magenic/jmaqs/base/DriverManagerUnitTest.java
  jmaqs-base/src/test/java/com/magenic/jmaqs/base/ManagerDictionaryUnitTest.java
  jmaqs-database/src/main/java/com/magenic/jmaqs/database/DatabaseDriver.java
  jmaqs-database/src/main/java/com/magenic/jmaqs/database/DatabaseDriverManager.java
  jmaqs-database/src/main/java/com/magenic/jmaqs/database/DatabasePersistenceUnitInfo.java
  jmaqs-database/src/main/java/com/magenic/jmaqs/database/DatabaseTestObject.java
  jmaqs-database/src/test/java/com/magenic/jmaqs/database/DatabaseDriverUnitTest.java
  jmaqs-database/src/test/java/com/magenic/jmaqs/database/DatabaseTestObjectUnitTest.java
  jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/BaseSeleniumTest.java
  jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/SeleniumDriverManager.java
  jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/SeleniumTestObject.java
  jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/BaseSeleniumPageModelUnitTest.java
  jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/BaseSeleniumTestUnitTest.java
  jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/ElementHandlerUnitTest.java
  jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/EventHandlerUnitTest.java
  jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/LazyWebElementUnitTest.java
  jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/SeleniumDriverManagerUnitTest.java
  jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/SeleniumTestObjectUnitTest.java
  jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/SeleniumUtilitiesUnitTest.java
  jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/UIWaitUnitTest.java
  jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/WebDriverFactoryUnitTest.java
  jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/constants/OperatingSystemUnitTest.java
  jmaqs-utilities/src/main/java/com/magenic/jmaqs/utilities/helper/Config.java
  jmaqs-utilities/src/main/java/com/magenic/jmaqs/utilities/helper/exceptions/ExecutionFailedException.java
  jmaqs-utilities/src/main/java/com/magenic/jmaqs/utilities/helper/exceptions/FunctionException.java
  jmaqs-utilities/src/main/java/com/magenic/jmaqs/utilities/helper/exceptions/TimeoutException.java
  jmaqs-utilities/src/main/java/com/magenic/jmaqs/utilities/logging/FileLogger.java
  jmaqs-utilities/src/test/java/com/magenic/jmaqs/utilities/ConfigUnitTest.java
  jmaqs-utilities/src/test/java/com/magenic/jmaqs/utilities/FileLoggerUnitTest.java
  jmaqs-utilities/src/test/java/com/magenic/jmaqs/utilities/GenericWaitUnitTest.java
  jmaqs-utilities/src/test/java/com/magenic/jmaqs/utilities/HtmlFileLoggerUnitTest.java
  jmaqs-utilities/src/test/java/com/magenic/jmaqs/utilities/LoggingConfigUnitTest.java
  jmaqs-webservices-jdk8/src/main/java/com/magenic/jmaqs/webservices/jdk8/WebServiceDriver.java
  jmaqs-webservices-jdk8/src/main/java/com/magenic/jmaqs/webservices/jdk8/WebServiceDriverManager.java
  jmaqs-webservices-jdk8/src/test/java/com/magenic/jmaqs/webservices/jdk8/WebServiceDriverManagerUnitTest.java
  jmaqs-webservices-jdk8/src/test/java/com/magenic/jmaqs/webservices/jdk8/WebServiceTestObjectUnitTest.java
  jmaqs-webservices-jdk8/src/test/java/com/magenic/jmaqs/webservices/jdk8/WebServiceUtilitiesUnitTest.java
Labels: appium, base, database, selenium, utilities

#308 JMAQS #297 TestObject access and repaired verbose logging
  jmaqs-base/src/main/java/com/magenic/jmaqs/base/DriverManager.java
  jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/SeleniumDriverManager.java
Labels: base, selenium

#307 JMAQS #306 - Variable and methods have been refactored
  jmaqs-appium/src/main/java/com/magenic/jmaqs/appium/AppiumUtilities.java
  jmaqs-appium/src/test/java/com/magenic/jmaqs/appium/AppiumUtilitiesUnitTest.java
  jmaqs-base/src/main/java/com/magenic/jmaqs/base/BaseTest.java
  jmaqs-base/src/main/java/com/magenic/jmaqs/base/BaseTestObject.java
  jmaqs-base/src/main/java/com/magenic/jmaqs/base/DriverManager.java
  jmaqs-base/src/test/java/com/magenic/jmaqs/base/BaseTestObjectUnitTest.java
  jmaqs-base/src/test/java/com/magenic/jmaqs/base/BaseTestUnitTest.java
  jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/AbstractLazyElement.java
  jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/BaseSeleniumPageModel.java
  jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/SeleniumUtilities.java
  jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/ElementHandlerUnitTest.java
  jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/LazyWebElementUnitTest.java
  jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/SeleniumUtilitiesUnitTest.java
Labels: appium, base, selenium

#311 JMAQS #309 - Checkstyle and Sonarlint Cleanup
  .github/workflows/checkstyle.yml
  jmaqs-appium/src/main/java/com/magenic/jmaqs/appium/AppiumConfig.java
  jmaqs-appium/src/main/java/com/magenic/jmaqs/appium/exceptions/AppiumConfigException.java
  jmaqs-appium/src/test/java/com/magenic/jmaqs/appium/AppiumConfigUnitTest.java
  jmaqs-base/src/main/java/com/magenic/jmaqs/base/BaseTest.java
  jmaqs-base/src/main/java/com/magenic/jmaqs/base/BaseTestObject.java
  jmaqs-base/src/main/java/com/magenic/jmaqs/base/DriverManager.java
  jmaqs-base/src/main/java/com/magenic/jmaqs/base/ManagerDictionary.java
  jmaqs-base/src/main/java/com/magenic/jmaqs/base/exceptions/DriverDisposalException.java
  jmaqs-base/src/main/java/com/magenic/jmaqs/base/exceptions/ManagerDisposalException.java
  jmaqs-database/src/main/java/com/magenic/jmaqs/database/DatabaseConfig.java
  jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/AbstractLazyElement.java
  jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/BaseSeleniumPageModel.java
  jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/BaseSeleniumTest.java
  jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/ElementHandler.java
  jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/LazyWebElement.java
  jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/SeleniumConfig.java
  jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/SeleniumTestObject.java
  jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/UIWait.java
  jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/WebDriverFactory.java
  jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/exceptions/DriverNotFoundException.java
  jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/exceptions/ElementHandlerException.java
  jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/exceptions/WebDriverFactoryException.java
  jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/factories/FluentWaitFactory.java
  jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/factories/UIWaitFactory.java
  jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/EventHandlerUnitTest.java
  jmaqs-utilities/src/main/java/com/magenic/jmaqs/utilities/helper/Config.java
  jmaqs-utilities/src/main/java/com/magenic/jmaqs/utilities/helper/ConfigSection.java
  jmaqs-utilities/src/main/java/com/magenic/jmaqs/utilities/helper/exceptions/ExecutionFailedException.java
  jmaqs-utilities/src/main/java/com/magenic/jmaqs/utilities/helper/exceptions/FrameworkConfigurationException.java
  jmaqs-utilities/src/main/java/com/magenic/jmaqs/utilities/logging/FileLogger.java
  jmaqs-utilities/src/main/java/com/magenic/jmaqs/utilities/logging/LoggingConfig.java
  jmaqs-utilities/src/test/java/com/magenic/jmaqs/utilities/ConfigUnitTest.java
  jmaqs-webservices-jdk8/src/main/java/com/magenic/jmaqs/webservices/jdk8/WebServiceConfig.java
  pom.xml
Labels: appium, base, database, devops, selenium, utilities

#316 JMAQS #314: ClassCastException When Upcasting BaseTest Object to Child After First Iteration of DataProvider with TestNG
  jmaqs-base/src/main/java/com/magenic/jmaqs/base/BaseExtendableTest.java
  jmaqs-base/src/main/java/com/magenic/jmaqs/base/ConcurrentManagerHashMap.java
  jmaqs-base/src/test/java/com/magenic/jmaqs/base/ConcurrentManagerHashMapUnitTest.java
  jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/BaseSeleniumTestUnitTest.java
Labels: base, selenium
