Repository Magenic/JMAQS, pull requests merged in 2020-01, with the labels that each got.

#184 JMAQS #180 - Database - DatabaseDriverManager
  Framework/jmaqs-database/src/main/java/com/magenic/jmaqs/database/DatabaseDriverManager.java
Labels: database, feature

#187 JMAQS #178 - Database - DatabaseTestObject
  Framework/jmaqs-database/src/main/java/com/magenic/jmaqs/database/DatabaseTestObject.java
  Framework/jmaqs-database/src/test/java/com/magenic/jmaqs/database/DatabaseTestObjectUnitTest.java
Labels: database, feature

#191 JMAQS #190 - Refactored BaseGenericTest
  Framework/jmaqs-appium/src/test/java/com/magenic/jmaqs/appium/AppiumConfigUnitTest.java
  Framework/jmaqs-appium/src/test/java/com/magenic/jmaqs/appium/AppiumDriverFactoryUnitTest.java
  Framework/jmaqs-appium/src/test/java/com/magenic/jmaqs/appium/AppiumTestObjectUnitTest.java
  Framework/jmaqs-appium/src/test/java/com/magenic/jmaqs/appium/AppiumUtilitiesUnitTest.java
  Framework/jmaqs-appium/src/test/java/com/magenic/jmaqs/appium/MobileDriverManagerUnitTest.java
  Framework/jmaqs-base/src/main/java/com/magenic/jmaqs/base/BaseGenericTest.java
  Framework/jmaqs-base/src/test/java/com/magenic/jmaqs/base/BaseGenericTestUnitTest.java
  Framework/jmaqs-base/src/test/java/com/magenic/jmaqs/base/BaseTestObjectUnitTest.java
  Framework/jmaqs-base/src/test/java/com/magenic/jmaqs/base/ManagerDictionaryUnitTest.java
  Framework/jmaqs-database/src/test/java/com/magenic/jmaqs/database/ConnectionFactoryUnitTest.java
  Framework/jmaqs-database/src/test/java/com/magenic/jmaqs/database/DatabaseConfigUnitTest.java
  Framework/jmaqs-database/src/test/java/com/magenic/jmaqs/database/DatabaseDriverUnitTest.java
  Framework/jmaqs-database/src/test/java/com/magenic/jmaqs/database/DatabaseTestObjectUnitTest.java
  Framework/jmaqs-database/src/test/java/com/magenic/jmaqs/database/constants/DataProviderTypeUnitTest.java
  Framework/jmaqs-database/src/test/java/com/magenic/jmaqs/database/providers/IDataSourceProviderUnitTest.java
  Framework/jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/SeleniumConfigUnitTest.java
  Framework/jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/SeleniumDriverManagerUnitTest.java
  Framework/jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/SeleniumTestObjectUnitTest.java
  Framework/jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/SeleniumUtilitiesUnitTest.java
  Framework/jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/WebDriverFactoryUnitTest.java
  Framework/jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/constants/OperatingSystemUnitTest.java
  Framework/jmaqs-webservices/src/test/java/com/magenic/jmaqs/webservices/MediaTypeUnitTest.java
  Framework/jmaqs-webservices/src/test/java/com/magenic/jmaqs/webservices/WebServiceConfigTest.java
  Framework/jmaqs-webservices/src/test/java/com/magenic/jmaqs/webservices/WebServiceConfigUnitTest.java
  Framework/jmaqs-webservices/src/test/java/com/magenic/jmaqs/webservices/WebServiceDriverManagerUnitTest.java
  Framework/jmaqs-webservices/src/test/java/com/magenic/jmaqs/webservices/WebServiceDriverUnitTest.java
  Framework/jmaqs-webservices/src/test/java/com/magenic/jmaqs/webservices/WebServiceTestObjectUnitTest.java
  Framework/jmaqs-webservices/src/test/java/com/magenic/jmaqs/webservices/WebServiceUtilitiesUnitTest.java
Labels: base, feature

#188 JMAQS #177 - Database - BaseDatabaseTest
  Framework/jmaqs-database/src/main/java/com/magenic/jmaqs/database/BaseDatabaseTest.java
  Framework/jmaqs-database/src/test/java/com/magenic/jmaqs/database/BaseDatabaseTestUnitTest.java
Labels: database, feature

#193 Database Documenation
  docs/JMAQS_1/database/ConnectionFactory
  docs/JMAQS_1/database/Constants
  docs/JMAQS_1/database/DatabaseConfig
  docs/JMAQS_1/database/DatabaseDriver
  docs/JMAQS_1/database/DatabaseDriverManager
  docs/JMAQS_1/database/DatabasePersistenceUnitInfo
  docs/JMAQS_1/database/Providers
Labels: database, documentation

#162 WebService Documentation
  docs/JMAQS_1/webservice/WebServiceBasics
  docs/JMAQS_1/webservice/WebServiceConfig
  docs/JMAQS_1/webservice/WebServiceDriver
  docs/JMAQS_1/webservice/WebServiceUtilities
Labels: documentation, webservices

#131 Appium Documentation
  docs/JMAQS_1/BaseAppiumTest
  docs/JMAQS_1/appium/AppiumConfig
  docs/JMAQS_1/appium/AppiumDriverFactory
  docs/JMAQS_1/appium/AppiumFeatures
  docs/JMAQS_1/appium/AppiumTestObject
  docs/JMAQS_1/appium/AppiumUtilities
  docs/JMAQS_1/appium/MobileDriverManager
Labels: appium, documentation

#130 Selenium Documentation
  docs/JMAQS_1/EventHandler
  docs/JMAQS_1/FluentWaitFactory
  docs/JMAQS_1/SeleniumBasics
  docs/JMAQS_1/SeleniumConfig.md
  docs/JMAQS_1/SeleniumDriverManager
  docs/JMAQS_1/SeleniumFAQ
  docs/JMAQS_1/SeleniumTestObject
  docs/JMAQS_1/SeleniumUtilities
  docs/JMAQS_1/UIFind
  docs/JMAQS_1/UIFindFactory
  docs/JMAQS_1/UIWait
  docs/JMAQS_1/UIWaitFactory
  docs/JMAQS_1/WebDriverFactory
Labels: documentation, selenium

#199 JMAQS #169 - Base module parallelism bug fix
  Framework/jmaqs-base/src/main/java/com/magenic/jmaqs/base/BaseTest.java
  Framework/pom.xml
Labels: base, bug
