Repository Magenic/JMAQS, pull requests merged in 2020-09, with the labels that each got.

#408 JMAQS #406 - Consolidated sonarcloud step and installing XVFB to linux build agent
  .github/workflows/pullrequest.yml
  jmaqs-cucumber/pom.xml
  jmaqs-selenium/pom.xml
  jmaqs-selenium/src/main/java/com/magenic/jmaqs/selenium/WebDriverFactory.java
  jmaqs-selenium/src/test/java/com/magenic/jmaqs/selenium/SeleniumUtilitiesUnitTest.java
Labels: devops, selenium

#410 SnapShot Pipeline enhancements
  .github/release-drafter.yml
  .github/version-drafter.yml
  .github/workflows/snapshot.yml
  jmaqs-appium/pom.xml
  jmaqs-base/pom.xml
  jmaqs-cucumber/pom.xml
  jmaqs-database/pom.xml
  jmaqs-jacoco-reporting/pom.xml
  jmaqs-selenium/pom.xml
  jmaqs-utilities/pom.xml
  jmaqs-webservices-jdk11/pom.xml
  jmaqs-webservices-jdk8/pom.xml
  pom.xml
Labels: JDK11, JDK8, appium, base, database, devops, selenium, utilities, webservices

#415 Add JMAQS modules to dependency management
  jmaqs-appium/pom.xml
  jmaqs-base/pom.xml
  jmaqs-cucumber/pom.xml
  jmaqs-database/pom.xml
  jmaqs-jacoco-reporting/pom.xml
  jmaqs-selenium/pom.xml
  jmaqs-utilities/pom.xml
  jmaqs-webservices-jdk11/pom.xml
  jmaqs-webservices-jdk8/pom.xml
  pom.xml
Labels: JDK11, JDK8, appium, base, database, selenium, utilities, webservices

#416 Pull Request Pipeline Enhancements
  .github/release-drafter.yml
  .github/workflows/pullrequest.yml
Labels: devops

#418 Release Pipeline
  .github/workflows/release.yml
Labels: devops

#286 Web Services JDK8 Utilities and Driver unit test updates
  jmaqs-webservices-jdk11/pom.xml
  jmaqs-webservices-jdk8/src/main/java/com/magenic/jmaqs/webservices/jdk8/WebServiceUtilities.java
  jmaqs-webservices-jdk8/src/test/java/com/magenic/jmaqs/webservices/jdk8/BaseWebServiceTestUnitTest.java
  jmaqs-webservices-jdk8/src/test/java/com/magenic/jmaqs/webservices/jdk8/MediaTypeUnitTest.java
  jmaqs-webservices-jdk8/src/test/java/com/magenic/jmaqs/webservices/jdk8/WebServiceConfigUnitTest.java
  jmaqs-webservices-jdk8/src/test/java/com/magenic/jmaqs/webservices/jdk8/WebServiceDriverRequestUnitTest/WebServiceDriverDeleteUnitTest.java
  jmaqs-webservices-jdk8/src/test/java/com/magenic/jmaqs/webservices/jdk8/WebServiceDriverRequestUnitTest/WebServiceDriverGetUnitTest.java
  jmaqs-webservices-jdk8/src/test/java/com/magenic/jmaqs/webservices/jdk8/WebServiceDriverRequestUnitTest/WebServiceDriverPatchUnitTest.java
  jmaqs-webservices-jdk8/src/test/java/com/magenic/jmaqs/webservices/jdk8/WebServiceDriverRequestUnitTest/WebServiceDriverPostUnitTest.java
  jmaqs-webservices-jdk8/src/test/java/com/magenic/jmaqs/webservices/jdk8/WebServiceDriverRequestUnitTest/WebServiceDriverPutUnitTest.java
  jmaqs-webservices-jdk8/src/test/java/com/magenic/jmaqs/webservices/jdk8/WebServiceUnitTest.java
  jmaqs-webservices-jdk8/src/test/java/com/magenic/jmaqs/webservices/jdk8/WebServiceUtilitiesUnitTest.java
  jmaqs-webservices-jdk8/src/test/java/com/magenic/jmaqs/webservices/jdk8/models/Product.java
Labels: JDK8, webservices
